
.nav-height{
  height: 62px;
  width: 100%;
  background-color: rgb(46, 2, 2);
  position: sticky;
}
.grid-container {
    display: inline-grid;
    grid-template-rows: auto auto ;
 
    margin-top: 20px;
    width: 100%;
 
   
  }
  .grid-item {
    
    padding: 20px;
    font-size: 15px;
    height: 100%;
  }

  .form-size{
    height: 250px;
    width:80%;
    margin-left: 10%;
    margin-top: 3%;
}
.previous {
  background-color: #f1f1f1;
  color: black;
}
.input-w{
    width: 93%;
    margin-left: 44px;
}
.f1-pos{
    margin-top: 12%;
}
.user-b{
    background-color: #f1f1f1;
    border-radius: 50px;
  
   
}
.user-i{
  font-size: 18px;
}
.logout-b{
  font-size: 14px;
}
#information {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#information td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#information tr:nth-child(even){background-color: #f2f2f2;}

#information tr:hover {background-color: #ddd;}

#information th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5e0147;
  color: white;
}
.button-format{
  background-color: rgb(46, 2, 2);
  color: #eeeded;
  height: 40px;
  width:30%;
  border-radius: 20px;
  font-size: medium;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 40px;
 margin-left: 35%;
 
 

  
}
.tab {
  margin-top: 10%;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

