<div class="page-bg">
    <nav class="navbar navbar-expand-sm fixed-top">
      <div class=" nav-height">
        <div class="d-flex flex-row container-fluid">
        <div style="width: 1400px;">
       
          <a class=" navbar-brand text-light p-4 " style=" font-size: large;font-weight: 1000;" href="#">
            <i> WhichCard?</i>
       
           </a>
        <p class=" navbar-brand text-light mt-4" (click)="toBrowsCards()">
          Check cards
         
        </p>  
    <p class=" navbar-brand text-light mt-4" (click)="toBrowsCards()">
      Browse cards
     
    </p>

       </div>
      
        <div>
          <a href="#" class="btn  btn-lg p-4 mt-2  user-b {{account}}">
            <span class="glyphicon glyphicon-user user-i"></span> 
          </a>
         
        </div>
        <div class="p-3 {{account}}">
          <button type="button" class="btn btn-outline-light p-3 logout-b nav-button" (click)="logOut()">log out</button>
        </div>
        </div>
     </div>
    </nav>
    <div style="margin-top: 6%; width: 100%;background-color: rgb(206, 203, 203); ">
      <p style=" margin-left: 44%; font-size: 30px; font-family: cursive;">Wallet</p>
  </div>

    <div class="container">
        <div class="black-box">
            <div class="card  ">
              
                <img src="https://cdn.cardcritics.com/uploads/2024/02/9099-566853.png">
                
               
              </div>
        </div>
        <div class="gray-box">
            <div class="card  ">
              <img  src="https://cdn.cardcritics.com/uploads/2022/03/citidoublecash.png">
              
              </div>
            </div>
        <div class="gray-box1">
            <div class="card  ">
            
              <img src="https://cdn.cardcritics.com/uploads/2024/02/2291_10006359-4.png">
              </div>
        </div>
        <div class="gray-box2">
            <div class="card  ">
            
              <img src="https://cdn.cardcritics.com/uploads/2024/02/image-100313861-15741744-1707148209000.png">
              </div>
       </div>
        </div>   
        
    <div class="position-absolute top-0" style="margin-left: 65%; margin-top: 12%;" >
      <div class="info-box">
        <div class="card  ">
            <img src="https://cdn.cardcritics.com/uploads/2024/02/9099-566853.png">
            
            <p style="font-size: large; font-style: italic ;">Discover</p>
            <p>Added on : September 19 2023</p>
            <p>Your notes:</p>
            <p>Use it to pay for groceries</p>

          </div>
    </div>
    </div>    

    </div>
<!--    
<div  class="full-page">
    <div class="grid-container " >
         
      <div class="grid-item ">
        <div class="card margin-top">
            
            <h1>Tailored Jeans</h1>
            <p class="price">$19.99</p>
            <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
            <p><button>Add to wallet</button><button>Add to compare</button></p>
          </div>
          
      </div>
      <div class="grid-item ">
        <div class="card margin-top">
            
            <h1>Tailored Jeans</h1>
            <p class="price">$19.99</p>
            <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
            <p><button>Add to wallet</button><button>Add to compare</button></p>
          </div>
          
      </div>
      <div class="grid-item ">
        <div class="card margin-top">
            
            <h1>Tailored Jeans</h1>
            <p class="price">$19.99</p>
            <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
            <p><button>Add to wallet</button><button>Add to compare</button></p>
          </div>
          
      </div>
      <div class="grid-item ">
        <div class="card margin-top">
            
            <h1>Tailored Jeans</h1>
            <p class="price">$19.99</p>
            <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
            <p><button>Add to wallet</button><button>Add to compare</button></p>
          </div>
          
      </div>
      <div class="grid-item ">
        <div class="card margin-top">
            
            <h1>Tailored Jeans</h1>
            <p class="price">$19.99</p>
            <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
            <p><button>Add to wallet</button><button>Add to compare</button></p>
          </div>
          
      </div>
      <div class="grid-item ">
        <div class="card margin-top">
            
            <h1>Tailored Jeans</h1>
            <p class="price">$19.99</p>
            <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
            <p><button>Add to wallet</button><button>Add to compare</button></p>
          </div>
          
      </div>
    
      
    </div>

    <div class="side-panel fixed-right" >
        <h3 class="px-3 mt-3">In Comparision</h3>
        <ul >
            <li><p> BoFA </p>  <i class="material-icons">cancel</i></li>
            <li><p> BoFA </p>  <i class="material-icons">cancel</i></li>
            <li><p> BoFA </p>  <i class="material-icons">cancel</i></li>
          </ul>
          <button class="btn-format " (click)="compare()">Compare</button> 
          
      </div>
     
    </div> -->
    
    